[user]
	name = nèiliǎn de
	email = "143877686+neiilian@users.noreply.github.com"
	username = neiilian
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFVTSKvNaoTKfc/xHIn0CLhHTbELwMI/LYbQ13OGCB5S
[github]
  user   = neiilian
[init]
	defaultBranch = main
[core]
	editor = nvim --wait
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[gpg]
	program = gpg2
	format = ssh
[tag]
  gpgsign = true
[commit]
  gpgsign = true
[help]
	autocorrect = 1
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
